[submodule "whitelisted"]
	path = whitelisted
	url = https://github.com/ChiefWoods/whitelisted-transfers.git
[submodule "escrow"]
	path = escrow
	url = https://github.com/ChiefWoods/escrow.git
[submodule "whitelisted-vault"]
	path = whitelisted-vault
	url = https://github.com/ChiefWoods/whitelisted-vault.git
[submodule "magic-user"]
	path = magic-user
	url = https://github.com/ChiefWoods/magic-user.git
[submodule "pinocchio-escrow"]
	path = pinocchio-escrow
	url = https://github.com/ChiefWoods/pinocchio-escrow
